./nominatim_project/iowa-latest.osm.pbf
./nominatim_project/us_postcodes.csv.gz
./nominatim_project/tiger-nominatim-preprocessed-latest.csv.tar.gz
./nominatim_project/wikimedia-importance.csv.gz
./nominatim_project/secondary_importance.sql.gz
